@use "reset";
@use "mixins";
@use "fonts";

:root {
  font-size: 22px;
  --sectraDisplay: "Sectra Display Web", serif;
  --linearSans: "Linear Sans Web", sans-serif;
}

body {
  font: 0.9rem/120% var(--linearSans);
  padding: 3rem 4rem;
  color: #e4e5e1;
  background-color: #262626;
  @include mixins.antialias;
}
a {
  text-decoration: none;
}
h1 {
  font-size: inherit;
}
h1,
p {
  margin-bottom: 1rem;
}
h1 + p,
p + p {
  font: 2.15rem/108% var(--sectraDisplay);
}
.contact li {
  display: inline;
}
.contact li::after {
  content: "—";
}
.contact li:last-child::after {
  content: "";
}
footer {
  margin-top: 3rem;
}

body.error h1 {
  font: 800 6rem/100% var(--sectraDisplay);
  letter-spacing: -0.025em;
  margin-bottom: 2rem;
}
body.error p {
  font: 1.2rem/100% var(--linearSans);
}
